/* CSS Reset */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input {
  overflow: visible;
}

select {
  text-transform: none;
}

[type='button'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

[hidden] {
  display: none;
}

header {
  background: #71eeb8;
  margin-bottom: 1.45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .TopDiv {
  margin: 0 auto;
  max-width: 960;
  padding: 1.45rem 1.0875rem;
}

header h1 {
  margin: 0;
}

header .Link {
  color: white;
  text-decoration: none;
}

.Home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Home-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 250px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0 5px;
}

.Home-container h4 {
  padding-top: 15px;
}

.Home-container .profile {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.Login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Directory-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Directory-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Directory-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 250px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0 5px;
}

.Directory-container .Add {
  padding-left: 15px;
  color: black;
  text-decoration: none;
}

.Directory-container .Edit {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.Directory-container .Remove {
  color: black;
  text-decoration: none;
  padding: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #71eeb8;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

footer .Contact {
  width: 50%;
  font-size: 12px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: blue;
}
/*# sourceMappingURL=layout.css.map */